body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
@import url(https://fonts.google.com/share?selection.family=Montserrat:ital,wght@0,100..900;1,100..900|Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--paragraph-font);
    max-width: 720px;
    padding: 20px;
    margin: 0 auto;
    color: aquamarine;
}
:root {
    --primary-color: #001f3f;
    --secondary-color: #0074cc;
    --accent1-color: #2ecc71;
    --accent2-color: #ff6f61;
}

h1 {
    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'Roboto', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    border-bottom: 1px solid rgba(red, green, blue, alpha);
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    margin-top: 20px;
}

p {
    padding: 10px;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-bottom: 20px;
}

form {
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

